// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-dark.css'
// Check out "bower_components/prism/themes/" for available themes

body
    border-radius 0px    
    background-color black    
    
#judul
    color Green
    
#gbr
    width 700px
    heigt 350px
    
.judul2
    color Green
    
#member
    background-color black
    
#member
  ul
    li
      color green
      
.bg
    background-color black

#first    
    background-size 100%
    background-color black
    
section
    backround-color black
        
    
.pd
    position absolute
    padding-top 50px
    color #000
    
  
/*
.bespoke-slide
.bespoke-inactive
.bespoke-active
.bespoke-after-1
.bespoke-before-1
*/

.bespoke-before
    transform translateY(240px) rotateX(-90deg) 
    
.bespoke-after
    transform translateY(-240px) rotateX(90deg)
    
.bespoke-progress-bar
    background #0F0
    
.bespoke-progress-parent
    position absolute
    top 0px
    left 0px
    right 0px
    height 4px
    background black
    