doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(id="first")
        h1(id="judul") Welcome !!
        
      section.bg
        h1.judul2 How To Make Static Routing
        h2.judul2 Cisco Packet Tracer
        
      section(id = "member")
        h2 Created By        
        ul
          li Jodhy Hermawan Nur
          li Muhammad Hafiz Yazid
          li Yusuf Armanda
          li Yosefa C Sembiring

      section.bg
        h2.judul2 Topologi Awal
        img#gbr(src='images/1.jpg')

      section.bg
        h2.judul2 IP ADDRESS PC
        img#gbr(src='images/Tabel 1.jpg')

      section.bg
        h2.judul2 Konfigurasi Router 0
        img#gbr(src='images/2.jpg')

      section.bg
        h2.judul2 Cont ...
        img#gbr(src='images/3.jpg')

      section.bg
        h2.judul2 Konfigurasi Router 1
        img#gbr(src='images/4.jpg')

      section.bg
        h2.judul2 cont..
        img#gbr(src='images/5.jpg')
        
        
      section.bg
        h2.judul2 cont...
        img#gbr(src='images/6.jpg')
        
      section.bg
        h2.judul2 Static Routing di Router 0
        img#gbr(src='images/7.jpg')
    
      section.bg
        h2.judul2 Static Routing di Router 1
        img#gbr(src='images/8.jpg')
        
      section.bg
        h2.judul2 Static Routing di Router 2
        img#gbr(src='images/9.jpg')
      
      section.bg
        h2.judul2 Any Question ?
        img#tanya(src='images/Q.PNG')
      
      section.bg
        h2.judul2 Terima Kasih
        

    script(src='build/build.js')